.sectionseven .sectionseven__block svg{
    width: 24px; height: 20px; position: absolute;
    top: 1.2em;
    right: 1.2em;
    fill: #8989a3;
}

.sectionseven__block:hover svg {
        fill: $white;
    
}


.popapwrapper .sect3__text{
    line-height: 30px;
}


.slidercustom{
    width: 100vw;
    height: auto;
}

.sectionfive{
    height: auto !important;
}

.swiper-slide{
    left: 0 !important;
    height: auto !important;
}

.sectionfive__blockminititle{
    position: initial;
}

.sectionfive__blockdescription{
    width: auto !important;
    padding: 0 10px;
}

.sectionfive__sliderblock{
    width: auto !important;
    height: auto !important;
    .my-gallery{
        figure{
            margin: 0 10px;
            width: em(300);
            height: em(200);
            overflow: hidden;
            img{
                width: 100%;
            }
        }
    }
}

.swiper-wrapper{
    height: auto !important;
}


.popapwrapper .sect1{
    background-size: cover;
}

.openmodalactive{
    overflow: hidden;
}

.modalDialogcustom{
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll !important; 
}


                                                    // srver edits

.sectionfour__blocknumber span span{
    text-transform: lowercase !important;
}

// .bookit__blockcontent iframe{
//     position: static;
//     // -webkit-overflow-scrolling: touch;
//     position: initial !important;
//     position: static !important;

// }
    
.openmodalactive{
    
    position: relative;
    overflow-y: hidden;
}

.modalDialogcustom{
    -webkit-overflow-scrolling: touch;
    overflow: visible !important;
    overflow-y: scroll !important; 
}



                                                    //   bootstrap
@media (min-width: 576px) {
    .modal-dialog{
    max-width: 900px !important; 
    }
}

.modal-dialog{
    padding-top: 6%;
}

.modal-header{
    border-bottom: none !important;
}

.modal-title{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    font-size: 3.125em;
    font-family: gloss !important;
    font-weight: 400;
    color: #503d3d;
    line-height: 1.25em;
}

.textpopap{
    color: #a3a3a3 !important;
    font-family: "got" !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    text-align: center;
    margin-top: 30px;
}