block varibles

doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(content="ie-edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet", href="./styles/app.min.css?6")
        script(src='./scripts/app.js?6' defer)
        
        
        
        <link rel="stylesheet" href="./dist/css/swiper.css?6">
        <script src="./dist/js/swiper.min.js?6"></script>
        

        <link rel="stylesheet" href="./dist/css/photoswipe.css?6">
        <link rel="stylesheet" href="./dist/css/default-skin.css?6">

        <script src="./dist/js/photoswipe.min.js?6"></script>
        <script src="./dist/js/photoswipe-ui-default.min.js?6"></script> 


        <script src="./dist/js/jquery-3.2.1.min.js?6"></script> 
        <script src="./dist/js/masonry.pkgd.min.js?6"></script>
        <script src="./dist/js/main.js?6"></script> 

        
    
    body
        block content
        //- include common/menu.pug
